li {
    list-style-type: none;
    display: inline;
    padding: 5px 5px;
}

.familyPhotoContainer{
    display: flex;
    flex-direction: row;
}

.familyImage {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto; 
}

.familyPhotoFig {
    width: 250px;
    flex-wrap: wrap;
} 

.topNavBar {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    text-decoration: none;
    border-bottom: 1px solid yellow;
}

a {
    text-decoration: none;
}

.articles {
    display: flex;
    flex-direction: row; 
}

.news-feed-pics {
    width: 200px;
    height: 200px;
}

.bottom_nav {
    border-top: 1px solid yellow;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}


body {
    background-color: black; 
}

html * {
    color:yellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

.footerimg {
   width: 75px;
   height: 75px;
}

.film_posters {
    display: flex;
    flex-direction: row;
}

iframe {
    padding: 40px;
}